/*Universal Styling*/

* {-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: Helvetica;

      }

.container {
  background: #F0F1CF;
}

a {
  text-decoration: none;
  color: #fff;
  padding: .4em;
}

a:hover {
  background: #DB4442;
}

/*HEADER STYLING*/
.header {
    background-image: linear-gradient(135deg, #122a3e, #F2C164);
    background-color: #122a3e;
    width: 100%;
    color: #fff;
    padding: 1em 0;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.header #title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4em;
    padding-left: .4em;
}

.header #author{
     text-transform: lowercase;
     font-size: .7em;
     font-weight: 300;
     font-style: italic;
     letter-spacing: .12em;
     padding-left: .12em;
 }

#nav {
   list-style-type: none;
   margin: 0;
 }

 #nav li {
   display: inline-block;
   width: 30%;
 }

#nav a {
  color: #fff;
  padding: .4em;
}

#nav a:hover {
  background: #DB4442;
  }


/*Page Body Styling*/
.content {
  font-size: 1em;
  font-weight: 300;
  color: #333;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  width: 75%;
}

.content ul {
  list-style: none;
}
.content li {
  margin-top: .7em;
}

.content li a {
  color: #333;
  font-weight: 200;
}

.sidebar {
  /*border: .4em solid #DB4442;*/
  background: #5E778D;
  position: relative;
  left: .68em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 24%;
  font-size: 1.5em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: #333;
}

.social {
  text-align: center;
  box-shadow: .4em #888;
  position: relative;
  top: .4em;
}

.social p {
    font-weight: 700;
    letter-spacing: .4em;
    padding-left: .4em;
}

.social ul {
  list-style: none;
  position: relative;
  right: 1.2em;
  margin-bottom: 1em;
}

.social ul li {
  padding: .4em;
  border: .2em;
  margin-bottom: .4em;
}

.footer {
    background-image: linear-gradient(-135deg, #DB4442, #F2C164);
    background-color: #DB4442;
    color: #fff;
    padding: 1em 0;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

#contact{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4em;
    padding-left: .4em;
}

.contact-me {
  list-style: none;
  position: relative;
  top: 1em;
  text-transform: lowercase;
  font-size: .7em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .12em;
  padding-left: .12em;
}
.contact-me li {
  display: inline-block;
  width: 49%;
}